### To Do:
- divide into separate sections, one colab per section

# The 39 Steps
### A DS To Do List
1. State Goals

2. Import (main) libraries
- document what all of your software versions are
- maybe create a bundle of that software

3. Get files/data sets/ etc

4. create and setup environment and begin organizing libraries packages and dependencies

5. employ unit-tests and check 
especially for
- array size
- data type


4. Initial Exploration: patterns, issues
  - did it load properly, header etc.
  - shape
  - NaN
  - odd characters
  - cardinality
  - redundancy
  - empty columns
  - formating of columns

5. Features and Focus
  - What is Y
  - What X features to include (/exclude)
  - note time-series for splits

6. Establish A Baseline: Results to compare and score your model's performance
  - For ordinal, continuous: e.g. mean, median, mode, etc.
  - For categorical: 
  majority "class" ("class" is a catagory)
  - y_train.value_counts()[:1]
  - (some say) Start with a kitchen sink "baseline model"
"kitchen sink" model as baseline is usually a basic model like a regression with 'all' features.

7. get baseline "score":
pick score:
accuracy, (majority class mean), etc.
  
8. Splits: Make Train, Val, & Test sets
  - issue: random or time based split
  - issue: split ratio
(for cross validation:
randomized_searchcv,
(not-preferred-gridsearchcv)
(also,bayes-search?(library?)

Explore:
- pandas profile
- 


9. Wrangle via Function
(for all: train,val,test)
Wrangle:
- duplicates
- outliers
- 

10. (Make) Family of Variables

11. Deploy Model(s) 



Before doing pipeline: 
do a model without the pipeline with each step separate for debugging. 

NaN: 
 - Some have a NaN policy 
 - 

via pipeline
 - Trying models in pipeline:
 -  linear models
 -  trees (and ensambles)


12. Evaluate Compare, Refine, Redeploy Models
- confusion_matrix+
- PDP
- Shapely
- 


13. Export Test Results (using whole dataset to train)

## improved random seed generation

https://colab.research.google.com/drive/1iHN61T3AGy4vdg4su5V5g_ElMFWGbL0T?usp=sharing

In [ ]:
df['author'] = df['author'].map({'Austen':1, 'CBronte':0})

Add More For:
- cross tabs

#(Title) General Template for Date Science Code

(enter Overall Goal and description of code)

In [ ]:
#getting information about items
?ttest_ind

#Import Libraries

In [ ]:
#method for organizing and installing libraries et all
pip install -r requirements.txt

In [ ]:
#or ?
pipenv install -r requirements.txt

In [ ]:
#or ? but not in base env
conda install -r requirements.txt

In [ ]:
#most common library Imports Set

import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import os
import pandas as pd
import seaborn as sns

In [ ]:
#more common Import Libraries Set
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import style
import numpy as np
import os
import pandas as pd
import requests
import seaborn as sns
import sklearn
import scipy.stats as stats
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel, t, ttest_1samp

###Settings and Adjustments

In [ ]:
#so more head displays
#override display option
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
#alt, put in length of DF collums
#?pd.set_option('display.max_rows',len(df.columns))
pd.set_option('display.max_columns',len(df.columns))

In [ ]:
#tells you version of libraries and packages
pd.__version__

In [ ]:
#installs earlier version software
#!pip install pandas==0.23.4

In [ ]:
import joblib
import sklearn
import category_encoders as ce
print(f'joblib=={joblib.__version__}')
print(f'scikit-learn=={sklearn.__version__}')
print(f'category_encoders=={ce.__version__}')

In [ ]:
#check/set/recheck your local directory

import os
os.getcwd()
#os.chdir('C:\\Users\\linea\\DS8_LS\\edu')
#os.getcwd()

In [ ]:
!ls *.csv

In [ ]:
#long notation? - human readable
!ls -lh *.csv

In [ ]:
#shows all libraries and versions as preinstalled
#use pip freeze to view all of the 
#librarires/packages that are installed
#in our instance

#!pip freeze

In [ ]:
#change directory
%cd instacart_2017_05_01/

##Import Data

###Before you get your data:
check that it is a raw data-file and not another kind of file (e.g. an html page about that file. Look! Look! Look!

In [ ]:
#inspect file
#before loading file, check to see what the file is by loading it into a browser, text editor, or the following:
#inspect dataset
#e.g.
!curl https://...

In [ ]:
# for colab
# run this cell, you will be prompted to upload, click on choose file, 
# then drag and drop the file in
# upload file from local drives
import os
import pandas as pd
from google.colab import files
uploaded = files.upload()
!ls #check file is there
# add that file name to the below and run that
df = pd.read_csv('file_name')

In [ ]:
#looking at a few columns
train[['longitude', 'latitude']].describe()

In [ ]:
# from local computer (jupyter notebook)
df = pd.read_csv(r"C:\Users\linea\Downloads\data\Asteroid data\asteroid_albedo_1.csv")

In [ ]:
#e.g. for webscraping
#method1: "standard accepted method"
import requests
url1 = 'https://...'
response = requests.get(url1)
#check to see (validate) that it worked
response

In [ ]:
#Import Method 2
!wget https://...

In [ ]:
#to unzip a zipped file
!unzip filename.csv.zip

In [ ]:
#unpack a tar
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
#Check that file exists in local directory
!ls

https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92

In [ ]:
# import data from Google Drive account
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
path = "copied path"
df_bonus = pd.read_csv(path)# Dataset is now stored in a Pandas Dataframe

#e.g.
#/content/drive/My Drive/Projects/Asteroid Projects/asteroid_albedo_5_test.csv

##Load Data

In [ ]:
#Types of Files and Formats
#Loading data into Data Frame (df)

#Basic loading for csv,tsv,json
#CSV setting datasets to a 'df' variable:
df1 = pd.read_csv('file_name.csv')

#TSV
#df3 = pd.read_csv(('FastFmProfiles.tsv'), delimiter='\t')

#JSON
#df2 = pd.read_json('PeopleInSpaceNow.json')

#What would be the bracket method of doing this?

#future add
#xml

#future add
#rss

In [ ]:
# Here is an example of setting X and y from a dataframe

# putting the data into a dateframe
df = pd.DataFrame.from_dict(data_going_in).astype('int')

# setting X from the dataframe
X = df[['x1', 'x2']].values

# setting y from the dataframe
y = df['y'].values

##Setting Header

In [ ]:
#header=None (specifies that you will add your own header)

#e.g. from UCI site, headings may be listed in text on HTML page, cut and paste those...

df = pd.read_csv('URL', header=None, index_col=None, names=header_names)

header_names = header_names.split('\n')
header_names
#list comprehension
#
[name.split(':')[0] for name in header_name[1:-1]]

df.reset_index()


##Initial Data Inspection

Super Profile Tools

In [ ]:
data = train

from pandas.plotting import scatter_matrix
scatter_matrix(data, alpha=0.2, figsize=(6, 6), diagonal='kde')

In [ ]:
#Pandas Profiling Pandas Profile
#holey moley
#veras inspect
import pandas_profiling
pandas_profiling.ProfileReport(df)

In [ ]:
import pandas_profiling
#df.profile_report()

In [ ]:
# maybe requires older version of pandas, e.g. 0.25.0
# or? 
profile =ProfileReport(dataset)

In [ ]:
# inspection: outputs names of files
data0_files = os.listdir('./data/forest')
data1_files = os.listdir('./data/mountain')

In [ ]:
#Basic Data Inspections

#(default) first five rows
print(df.head())

In [ ]:
# shows footer if there is one
print (df.tail())

In [ ]:
#alt method
#!head file.csv
#!tail file.csv

https://www.geeksforgeeks.org/how-to-get-column-names-in-pandas-dataframe/

In [ ]:
# view collumns
df.collumns

In [ ]:
df.info()

In [ ]:
#checks for and summarizes missing data
print(df.isna().sum())

In [ ]:
#prints a complete boolean of missing data (warning this may be long)
df.isna()

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum(). sort_values(ascending=False)

In [ ]:
#How many items are in each column
print(df.count())

In [ ]:
#Gives basic statistics
# Describes the Numeric Collumns
print(df.describe())

In [ ]:
# This tells you how many different non-numeric variables there are, e.g. if they are binary or nearly so.
# different summary
# Describes non-numeric collumns
df.describe(exclude='number')

In [ ]:
#Rows and Columns
print(df.shape)

In [ ]:
#look at datatypes
print(df.dtypes)

In [ ]:
#view a list of df columns
list(df.columns)

# Advanced Inspection

salaries quiz udemy gga
https://colab.research.google.com/drive/1349ImiEcmwUtE_2g4AAwsNhnEMH0uxmD

In [ ]:
df.iloc[df['TotalPayBenefits'].argmax()]

In [ ]:
#passing a boolean search into a df produces the results...
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max]
#same as
df.iloc[df['TotalPayBenefits'].argmax()]

In [ ]:
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

In [ ]:
# getting mean sorted by column values, e.g. by year
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html
df.groupby(['Year']).mean
#or, for just one column
df.groupby('Year').mean()['BasePay']

In [ ]:

# view methods that can be used in pandas with dataframes df
dir(df)

In [ ]:
df.describe(exclude='number').T.sort_values(by='unique')

In [ ]:
#Alternate way of using .describe - transposes output
df.describe().T

In [ ]:
# how many items are there with a given value in one column
len(df[df['Language']=='en'])
#or
df[df['Language']=='en'].count()
#or
df[df['Language']=='en']['Language'].count()
#or
df[df['Language']=='en'].info()

In [ ]:
# number of unique values
df['JobTitle'].nunique()

In [ ]:
# list unique values
df['JobTitle'].unique()

In [ ]:
len(df['JobTitle'].unique())

In [ ]:
df.value_counts()

In [ ]:
df['JobTitle'].value_counts().head(5)

In [ ]:

df.value_counts(normalize=True)

In [ ]:
# how many specific things have only one value count
sum(df[df['Year']==2013]['JobTitle'].value_counts() == 1)

In [ ]:
assert 1 == 0

In [ ]:
#
# getting the unique characters in a list
chars = sorted(list(set(NAME_OF_LIST)))

In [ ]:
# contains a string has a string
df[df['JobTitle'].str.contains("Chief")].info()

searching two columns

In [ ]:
# searching for conditional matches in two columns

len(df[(df['Purchase Price'] > 95) & (df['CC Provider'] == 'American Express')])
# or
df[(df['Purchase Price'] > 95) & (df['CC Provider'] == 'American Express')].info()
# or
len(df[(df['Purchase Price'] > 95) & (df['CC Provider'] == 'American Express')].index)
# or 
df[(df['Purchase Price'] > 95) & (df['CC Provider'] == 'American Express')].count()

In [ ]:
# split a string colum on a character and search just before or after split 

# new data frame with split value columns 
df1 = df["CC Exp Date"].str.split("/", n = 1, expand = True) 
# search conditional
len(df1[df1[1]=='25'])

In [ ]:
# split a string colum on a character and search just before or after split
df["Email"].apply(lambda email: email.split('@')[1]).value_counts().head()

In [ ]:
# searching conditional for characters just after the 3rd place to the right
df['CC Exp Date'].apply(lambda exp: exp[3:]=='25').value_counts()

# or
sum(df['CC Exp Date'].apply(lambda exp: exp[3:]=='25'))

# or
df[df['CC Exp Date'].apply(lambda exp: exp[3:]=='25')].count()

#Unique
## Finding unique values, items, characters, etc.

In [ ]:
#unique values in column 
df['column_name'].unique()

In [ ]:
# unique titles 
df['emp_title'].value_counts(dropna=False).reset_index().shape[0]

In [ ]:
product_orders['product_name'].value_counts().sort_values(ascending=False)[:10]

In [ ]:
managers['int_rate'].mean()

In [ ]:
df['issue_d'].head(5)

In [ ]:
#returns array
df['issue_d'].head().values

In [ ]:
#checking to see if combinations appear multiple times.
order_products.duplicated(subset=['order_id', 'product_id']).value_counts()

In [ ]:
order_products.duplicated(subset=['order_id', 'product_id']).value_counts().iloc[0]

In [ ]:
order_products.duplicated(subset=['order_id', 'product_id']).value_counts().iloc[0]

##Missing Data (looking for where it is missing)

In [ ]:
df.isnull().sum()
df.isnull().sum(). sort_values(ascending=False)

##Basic Cleaning and Preprocessing

In [ ]:
# convert type to type
# convert section
# # this converts the datatype to integer
# #df['dates'] = df['dates'].apply(lambda x: str(x))
# df_time_analytics['month'] = df_time_analytics['month'].apply(lambda x: int(x))

In [ ]:
# dropna fillna
# and filling with mean or median

In [ ]:
# by default, drops rows
# same as
#df.dropna(axis=0)
df.dropna()

In [ ]:
# this changes it it drop collumns
# but it can drop rows if you change the axis
df.dropna(axis=1)

In [ ]:
# thresh: keeps rows with at least X number of non-NA (actual) values
df.dropna(thresh=2)

In [ ]:
# fillna

# parameter: value: fills NaN with that value

In [ ]:
# parameter: .mean()
# this fills the NaN with mean values

df['A'].fillna(value=df['A'].mean())

In [ ]:
df['A'].fillna(value=df['A'].median())

In [ ]:
https://www.udemy.com/course/python-for-data-science-and-machine-learning-bootcamp/learn/lecture/5733204#overview

In [ ]:
# replace NaN with mean values for collumn
# https://stackoverflow.com/questions/18689823/pandas-dataframe-replace-nan-values-with-average-of-columns
df.apply(lambda x: x.fillna(x.mean()),axis=0)

1.2) handle atypical missing value indicators and replace them with NaN values, (typical are marked as Nan)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html

https://colab.research.google.com/drive/1xqeB-Jk7LlsTV5KkHPwr0Jqpw6QHfMtd#scrollTo=OR80SCUoOl3i

In [ ]:
#look at the data at the source: look at individual cells if need be
#df.iloc[14][13]

In [ ]:
# First, remove the comma separator, then cast to float
df["LAND_SQUARE_FEET"] = df["LAND_SQUARE_FEET"].str.replace(",", "").astype(float)

### get rid of floats amid strings

In [ ]:
#replaces (float)"NaN" with (str)"unknown"
def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"

df['emp_title'] = df['emp_title'].apply(clean_title)

df.head()


###Repair Header / Footer

In [ ]:
#there is a problem, so the dataframe has to be reset:
column_headers = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 
                 'marital-status', 'occupation', 'relationship', 'race', 'sex', 
                 'capital-gain', 'capital-loss', 'hours-per-week', 
                 'native-country', 'income']

df_adult = pd.read_csv('adult.data', names=column_headers)

In [ ]:
#this will skip the header and footer from the files being imported
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, na_values=['n/a'], skipfooter=2)

In [ ]:

#removes
skipfooter=2
 
# look for a footer to take out

In [ ]:
# forward fill NaN
df = df.fillna(method='ffill')

In [ ]:
#backfill NaN
df = df.fillna(method='backfill')

In [ ]:
#check again
#checks for and summarizes missing data
print(df.isna().sum())

In [ ]:
#drop rows with NaN
df1.dropna()

#Dropping columns

http://www.datasciencemadesimple.com/drop-delete-rows-conditions-python-pandas/

In [ ]:
# Drop a row by condition
df = df[df.column_name != 'Fred']
df = df[df.column_name == 'George']

## Correcting Missing and Strange Values in Data

In [ ]:
# Read in dataset with correct null values (as NaN)
column_headers = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 
                 'marital-status', 'occupation', 'relationship', 'race', 'sex', 
                 'capital-gain', 'capital-loss', 'hours-per-week', 
                 'native-country', 'income']

# Example of replacing multiple null values
df = pd.read_csv('adult.data', names=column_headers, na_values=[' ?', '999999', 'Unknown'])
print(df.shape)
df.head(15)

# test validate train split section

In [ ]:
# Split train into train & val. Make val the same size as test.
target = 'status_group'
train, val = train_test_split(train, test_size=len(test),  
                              stratify=train[target], random_state=42)

#Wrangle Section

In [ ]:
%matplotlib inline
import category_encoders as ce
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier

def wrangle(X):
    """Wrangles train, validate, and test sets in the same way"""
    X = X.copy()

    # Convert date_recorded to datetime
    X['date_recorded'] = pd.to_datetime(X['date_recorded'], infer_datetime_format=True)
    
    # Extract components from date_recorded, then drop the original column
    X['year_recorded'] = X['date_recorded'].dt.year
    X['month_recorded'] = X['date_recorded'].dt.month
    X['day_recorded'] = X['date_recorded'].dt.day
    X = X.drop(columns='date_recorded')
    
    # Engineer feature: how many years from construction_year to date_recorded
    X['years'] = X['year_recorded'] - X['construction_year']    
    
    # Drop recorded_by (never varies) and id (always varies, random)
    unusable_variance = ['recorded_by', 'id']
    X = X.drop(columns=unusable_variance)
    
    X = X.dropna()

    # Drop duplicate columns
    duplicate_columns = ['quantity_group']
    X = X.drop(columns=duplicate_columns)

    # Drop empty NaN columns
    empty_columns = ['quantity_group',
                     'debt_settlement_flag_date',
                     'settlement_status',

url
id
member_id
settlement_date
settlement_amount
settlement_percentage
settlement_term  
                     ]
    X = X.drop(columns=empty_columns)
    


                         


    # About 3% of the time, latitude has small values near zero,
    # outside Tanzania, so we'll treat these like null values
    X['latitude'] = X['latitude'].replace(-2e-08, np.nan)
    
    # When columns have zeros and shouldn't, they are like null values
    cols_with_zeros = ['construction_year', 'longitude', 'latitude', 'gps_height', 'population']
    for col in cols_with_zeros:
        X[col] = X[col].replace(0, np.nan)
        
    return X


# Merge train_features.csv & train_labels.csv
train = pd.merge(pd.read_csv(DATA_PATH+'waterpumps/train_features.csv'), 
                 pd.read_csv(DATA_PATH+'waterpumps/train_labels.csv'))

# Read test_features.csv & sample_submission.csv
test = pd.read_csv(DATA_PATH+'waterpumps/test_features.csv')
sample_submission = pd.read_csv(DATA_PATH+'waterpumps/sample_submission.csv')

# Split train into train & val. Make val the same size as test.
target = 'status_group'
train, val = train_test_split(train, test_size=len(test),  
                              stratify=train[target], random_state=42)

# Wrangle train, validate, and test sets in the same way
train = wrangle(train)
val = wrangle(val)
test = wrangle(test)

# Arrange data into X features matrix and y target vector
X_train = train.drop(columns=target)
y_train = train[target]
X_val = val.drop(columns=target)
y_val = val[target]
#X_test = test #kaggle test set issues

#### Define a function to wrangle train, validate, and test sets in the same way.

Fix the location, and do more data cleaning and feature engineering.

In [ ]:
import numpy as np

def wrangle(X):
    """Wrangle train, validate, and test sets in the same way"""
    
    # Prevent SettingWithCopyWarning
    X = X.copy()
    
    # About 3% of the time, latitude has small values near zero,
    # outside Tanzania, so we'll treat these values like zero.
    X['latitude'] = X['latitude'].replace(-2e-08, 0)
    
    # When columns have zeros and shouldn't, they are like null values.
    # So we will replace the zeros with nulls, and impute missing values later.
    cols_with_zeros = ['longitude', 'latitude']
    for col in cols_with_zeros:
        X[col] = X[col].replace(0, np.nan)
            
    # quantity & quantity_group are duplicates, so drop one
    X = X.drop(columns='quantity_group')
    
    # return the wrangled dataframe
    return X


train = wrangle(train)
val = wrangle(val)
test = wrangle(test)

In [ ]:
# wrangle example 2

In [ ]:
#Wrangle example 3

def wrangle(X):
    X = X.copy()

    # Engineer new feature for every feature: is the feature null?
    for col in X:
        X[col+'_NULL'] = X[col].isnull()
    
    # Convert percentages from strings to floats
    X['int_rate'] = X['int_rate'].str.strip('%').astype(float)
    X['revol_util'] = X['revol_util'].str.strip('%').astype(float)
    
    # Convert employment length from string to float
    X['emp_length'] = X['emp_length'].str.replace(r'\D','').astype(float)
        
    # Create features for three employee titles: teacher, manager, owner
    X['emp_title'] = X['emp_title'].str.lower()
    X['emp_title_teacher'] = X['emp_title'].str.contains('teacher', na=False)
    X['emp_title_manager'] = X['emp_title'].str.contains('manager', na=False)
    X['emp_title_owner']   = X['emp_title'].str.contains('owner', na=False)

    # Get length of free text fields
    X['title'] = X['title'].str.len()
    X['desc'] = X['desc'].str.len()
    X['emp_title'] = X['emp_title'].str.len()
    
    # Convert sub_grade from string "A1"-"D5" to numbers
    sub_grade_ranks = {'A1': 1.1, 'A2': 1.2, 'A3': 1.3, 'A4': 1.4, 'A5': 1.5, 
                       'B1': 2.1, 'B2': 2.2, 'B3': 2.3, 'B4': 2.4, 'B5': 2.5, 
                       'C1': 3.1, 'C2': 3.2, 'C3': 3.3, 'C4': 3.4, 'C5': 3.5, 
                       'D1': 4.1, 'D2': 4.2, 'D3': 4.3, 'D4': 4.4, 'D5': 4.5}
    X['sub_grade'] = X['sub_grade'].map(sub_grade_ranks)
    
    # Drop some columns
    X = X.drop(columns='id')        # Always unique
    X = X.drop(columns='url')       # Always unique
    X = X.drop(columns='member_id') # Always null
    X = X.drop(columns='grade')     # Duplicative of sub_grade
    X = X.drop(columns='zip_code')  # High cardinality
    
    # Only use these features which had nonzero permutation importances in earlier models    
    features = ['acc_open_past_24mths', 'addr_state', 'all_util', 'annual_inc', 
                'annual_inc_joint', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 
                'collections_12_mths_ex_med', 'delinq_amnt', 'desc_NULL', 'dti', 
                'dti_joint', 'earliest_cr_line', 'emp_length', 'emp_length_NULL', 
                'emp_title', 'emp_title_NULL', 'emp_title_owner', 'fico_range_high', 
                'funded_amnt', 'home_ownership', 'inq_last_12m', 'inq_last_6mths', 
                'installment', 'int_rate', 'issue_d_month', 'issue_d_year', 'loan_amnt', 
                'max_bal_bc', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 
                'mo_sin_rcnt_rev_tl_op', 'mort_acc', 'mths_since_last_major_derog_NULL', 
                'mths_since_last_record', 'mths_since_recent_bc', 'mths_since_recent_inq', 
                'num_actv_bc_tl', 'num_actv_rev_tl', 'num_op_rev_tl', 'num_rev_tl_bal_gt_0', 
                'num_tl_120dpd_2m_NULL', 'open_rv_12m_NULL', 'open_rv_24m', 
                'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'purpose', 
                'revol_bal', 'revol_bal_joint', 'sec_app_earliest_cr_line', 
                'sec_app_fico_range_high', 'sec_app_open_acc', 'sec_app_open_act_il', 
                'sub_grade', 'term', 'title', 'title_NULL', 'tot_coll_amt', 
                'tot_hi_cred_lim', 'total_acc', 'total_bal_il', 'total_bc_limit', 
                'total_cu_tl', 'total_rev_hi_lim']    
    X = X[features]
    
    # Reset index
    X = X.reset_index(drop=True)
    
    # Return the wrangled dataframe
    return X


X_train = wrangle(X_train)
X_val   = wrangle(X_val)
X_test  = wrangle(X_test)

print('X_train shape', X_train.shape)
print('X_val shape', X_val.shape)
print('X_test shape', X_test.shape)

## Feature Scaling

In [ ]:
# regex

In [ ]:
#Feature Scaling Notes
#python
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

##Encoding (and Dummy variables?)



```
# This is formatted as code
```

In [ ]:
#regex
import re
re.sub(r'[^a-zA-Z ^0-9]', '', full_text)

In [ ]:
mask = {'set': 1, 'test': 2}

df.replace({'set': mask, 'tesst': mask})

In [ ]:
# quick way to get one-hot-encoding
pd.get_dummies

In [ ]:
https://docs.google.com/document/d/15hF87e25XniWek9ueiE-AuTLWUcmO0csTprlJXLOXeQ/edit?usp=sharing

In [ ]:
# boolean dummy or numerical binary dummy
#
# create a white or not collum
#sort of like a dummy variable, 
#this creates a new column based on creating values
#which turn strings into a boolean (X or Not_X)
#df['emp_title_manager'] = df['emp_title'].str.contains('Manager')
df['white_or_not'] = df['race'].str.contains('White')

#changes numerical column from the boolean
df['white_or_not'].replace(True, 1, inplace=True)
df['white_or_not'].replace(False, 0, inplace=True)

In [ ]:
# replace all values in DF
df.replace(['very bad', 'bad', 'poor', 'good', 'very good'], 
                     [1, 2, 3, 4, 5])

In [ ]:
#sort of like a dummy variable, 
#this creates a new column based on creating values
#which turn strings into a boolean (X or Not_X)
df['emp_title_manager'] = df['emp_title'].str.contains('Manager')

In [ ]:
#https://www.geeksforgeeks.org/replacing-strings-with-numbers-in-python-for-data-analysis/
# creating a dict file  
gender = {'male': 1,'female': 2} 
  
# traversing through dataframe 
# Gender column and writing 
# values where key matches 
df.Gender = [gender[item] for item in data.Gender]

In [ ]:
#https://www.geeksforgeeks.org/replacing-strings-with-numbers-in-python-for-data-analysis/
# creating a dict file  
race = {'White': 1,'Black': 2} 
  
# traversing through dataframe 
# Gender column and writing 
# values where key matches 
df.Gender = [race[item] for item in df.race]

In [ ]:

#Cleaning 1
#This replaces True and False with 1, 0
def replace_boolean(data):
    for col in data:
        data[col].replace(True, 1, inplace=True)
        data[col].replace(False, 0, inplace=True)
replace_boolean(test)
replace_boolean(train)

#Encoding catagorical strings as integers
#sex
Y_ranks = {"functional needs repair":2,"functional":1,"non functional":0}
train_labels['status_group'] = train_labels.status_group.map(Y_ranks)

#replacing with int replace
#Encoding catagorical strings as integers
#sex
sex_ranks = {"female":0,"male":1}
train.sex = train.sex.map(sex_ranks)
test.sex = test.sex.map(sex_ranks)

#embarked
embarked_ranks = {"C":0,"S":1,"Q":2}
train.embarked = train.embarked.map(embarked_ranks)
test.embarked = test.embarked.map(embarked_ranks)

#class1
class1_ranks = {"First":0,"Second":1,"Third":2}
train.class1 = train.class1.map(class1_ranks)
test.class1 = test.class1.map(class1_ranks)

#who
who_ranks = {"woman":0,"child":1,"man":2}
train.who = train.who.map(who_ranks)
test.who = test.who.map(who_ranks)

#replaced with binary replacement above: False True for 1,0
#adult_male : 
#adultmale_ranks = {"False":0,"True":1}
#train.adultmale = train.adultmale.map(adultmale_ranks)
#test.adultmale = test.adultmale.map(adultmale_ranks)

#deck: 
deck_ranks = {"A":0,"B":1,"C":2,"D":3,"E":4,"F":5}
train.deck = train.deck.map(deck_ranks)
test.deck = test.deck.map(deck_ranks)

#embarktown: 
embarktown_ranks = {"Southampton":0,"Queenstown":1,"Cherbourg":2}
train.embarktown = train.embarktown.map(embarktown_ranks)
test.embarktown = test.embarktown.map(embarktown_ranks)

#replaced with binary replacement above: False True for 1,0
#alone: 
#alone_ranks = {"False":0,"True":1}
#train.alone = train.alone.map(alone_ranks)
#test.alone = test.alone.map(alone_ranks)

#Other-ing
##Replace more then N diveristy/cardinality collumn items with "other"

In [ ]:
# Reduce cardinality for NEIGHBORHOOD feature ...
 
# Get a list of the top 10 neighborhoods
top10 = train['NEIGHBORHOOD'].value_counts()[:10].index
print(top10)

# At locations where the neighborhood is NOT in the top 10,
# replace the neighborhood with 'OTHER'
train.loc[~train['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'
test.loc[~test['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

# One Hot Encoding

Use [OneHotEncoder](https://contrib.scikit-learn.org/categorical-encoding/onehot.html) from the [category_encoders](https://github.com/scikit-learn-contrib/categorical-encoding) library to encode any non-numeric features. (In this case, it's just `interest_level`.)

- Use the **`fit_transform`** method on the **train** set
- Use the **`transform`** method on **validation / test** sets

In [ ]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

# export json file

In [ ]:
# this creates a json file...
# setting a variable to the name of
# the eventual desired json file
your_file_name = existing_file
#creates json file
with open('your_file_name.json', 'w', encoding='utf-8') as f:
    json.dump(your_file_name, f, ensure_ascii=False, indent=4)

# index

In [ ]:
# this shows the index
df_indicator_search.index[0]

# Formatting

In [ ]:
    # for make jave compatible dictionaries, the data must be reformated according to these rules:
    # Variable names cannot contain spaces.
    # Variable names must begin with a letter, an underscore (_) or a dollar sign ($).
    # Variable names can only contain letters, numbers, underscores, or dollar signs.
    # Variable names are case-sensitive.
    # 
    # https://stackoverflow.com/questions/1276764/stripping-everything-but-alphanumeric-chars-from-a-string-in-python#1277047

    # function to reformat strings to be java dictionary keys
    # based on notes here, but custom function and application
    # https://stackoverflow.com/questions/1276764/stripping-everything-but-alphanumeric-chars-from-a-string-in-python#1277047
    def format_string_for_java_dictionary_key(string1):
      string1 = string1.strip()
      string1 = re.sub(r'[^\w\s]','',string1)
      string1 = string1.replace(" ", "_")
      string1 = "_"+string1
      return string1
      # one string example
      #format_string_for_java_dictionary_key("  string. With. Punctuation?")
      # one column example
      #df3['last_name'] = df3['last_name'].apply(lambda string1: format_string_for_java_dictionary_key(string1))

##Time and Date, Time and Date, Date Time

In [ ]:
# this converts a datetime object to a posix epoch unix timestamp column
#https://stackoverflow.com/questions/15203623/convert-pandas-datetimeindex-to-unix-time
df_date['date_time_posix_epoch'] = df_date['date_object']
df_dates.index = pd.DatetimeIndex(df_dates['date_time_posix_epoch'])
df_dates['date_time_posix_epoch']= df_dates.index.astype(np.int64)// 10**9

In [ ]:
# get range in months and years between entered start and end dates

#user input
year_start = 2001
year_end = 2004
month_start = 1
month_end = 12

# import libraries
from datetime import datetime

# function to find the range in months between two datetime objects:
def diff_month(d1, d2):
    return (d1.year - d2.year) * 12 + d1.month - d2.month
#sample end
#diff_month(datetime(2010,10,1), datetime(2010,9,1))

year_range = year_end - year_start + 1
#print(year_range)
total_months = diff_month(datetime(year_end,month_end,1), datetime(year_start,month_start,1))
total_months

In [ ]:
# month iterator

import datetime, calendar

def increment_month(date):
    # Go to first of this month, and add 32 days to get to the next month
    next_month = date.replace(day=1) + datetime.timedelta(32)
    # Get the day of month that corresponds
    day = min(date.day, calendar.monthrange(next_month.year, next_month.month)[1])
    return next_month.replace(day=day)


import datetime

year1 = 2011
month1 = 12
day1 = 1
    
day_range = 2
# set range to the range of dates in that week
end = day_range+1
# enter starting date
date = datetime.datetime(year1,month1,day1,0,0,0)

increment_month(date)

In [ ]:
# day iterator

# input values
year1 = 2011
month1 = 1 
day1 = 21
day_range = 14
#

# This is code the incriments a starting date set with variables to future dates
# This overcomes issues of month and year dates restarting 'day' count
# new output values
year_new = 0 
month_new = 0
day_new = 0
# enter starting date
date = datetime.datetime(year1,month1,day1,0,0,0)
# incriment date
date += datetime.timedelta(days=1)
# make split-able
date_str = str(date)

# pull out values to set new date variables
year_new = date_str[0:4]
# convert string to int
year_new = int(year_new)

month_new = date_str[5:7]
# convert string to int
month_new = int(month_new)

day_new = date_str[8:11]
# convert string to int
day_new = int(day_new)

# test print
print(year_new)
print(month_new)
print(day_new)

In [ ]:
# input values
year1 = 2011
month1 = 1 
day1 = 21
day_range = 14
#
# new output values
year_new = 0 
month_new = 0
day_new = 0

date = datetime.datetime(year1,month1,day1,0,0,0)
for i in range(5): 
    date += datetime.timedelta(days=1)
    print(date)
    #print(type(date))
    date_str = str(date) 
    year_new = date_str[0:4]
    print(year_new)
    month_new = date_str[5:7]
    print(month_new)
    day_new = date_str[8:11]
    print(day_new)

In [ ]:
# #https://stackoverflow.com/questions/3240458/how-to-increment-a-datetime-by-one-day#3240486
import datetime
year1 = 2011
month1 = 1 
day1 = 21
day_range = 14

date = datetime.datetime(year1,month1,day1,0,0,0)
for i in range(5): 
    date += datetime.timedelta(days=1)
    print(date)

In [ ]:
# sample date formatting

df_dates = df.copy()
# # Replaces 'na' with NaN
df_dates = df_dates.replace('na', np.nan)
# # Convert date_recorded to datetime
df_dates['date_object'] = pd.to_datetime(df_dates['date'], infer_datetime_format=True)
# # Edf_datestract components from date_recorded, then drop the original column
df_dates['year'] = df_dates['date_object'].dt.year
df_dates['month'] = df_dates['date_object'].dt.month
#df_dates['date_unix_timestamp'] = datetime.datetime(df_dates['year'],df_dates['month'],1,0,0,0).strftime('%s')
#df_dates['day'] = df_dates['date_object'].dt.day
#this must be after data change...
df_dates = df_dates.replace(np.nan, "Null")

# this converts a datetime object to a posix epoch unix timestamp column
#https://stackoverflow.com/questions/15203623/convert-pandas-datetimeindex-to-unix-time
df_dates['date_time_posix'] = df_dates['date_object']
df_dates.index = pd.DatetimeIndex(df_dates['date_time_posix'])
#df_dates['date_time_posix']= df_dates.index.astype(np.int64)// 10**9
df_dates['date_time_posix']= df_dates.index.astype(int)// 10**9

df_dates = df_dates.reset_index(drop=True)
df = df_dates.copy()

In [ ]:
def start_of_week(year, month, day):
    
    import datetime
    #today = datetime.date.today()
    today = datetime.datetime(year, month, day)
    #today = pd.to_datetime(df2['date'], infer_datetime_format=True)
    #datetime.date(2013, 8, 13)
    #print(today)
    idx = (today.weekday() + 1) % 7 # MON = 0, SUN = 6 -> SUN = 0
    #print(idx)
    date_of_previous_sunday = today - datetime.timedelta(idx)
    start_of_week = str(date_of_previous_sunday)[8:10]
    #print(date_of_previous_sunday)
    #start_of_week = str(date_of_previous_sunday)[-2:]
    #start_of_week = int(start_of_week)
    return start_of_week

    start_of_week(2011,1,21)

In [ ]:
    df2 = df
    # # Replaces 'na' with NaN
    df2 = df2.replace('na', np.nan)
    # # Convert date_recorded to datetime
    df2['date_object'] = pd.to_datetime(df2['date'], infer_datetime_format=True)
    # # Edf2tract components from date_recorded, then drop the original column
    df2['year'] = df2['date_object'].dt.year
    df2['week'] = df2['date_object'].dt.week
    df2['month'] = df2['date_object'].dt.month
    df2['day'] = df2['date_object'].dt.day

    #this must be after data change...
    df2 = df2.replace(np.nan, "Null")

In [ ]:

    # making the new time-columns...from scratch as required by team...
    df2 = df.copy()
    # # Replaces 'na' with NaN
    df2 = df2.replace('na', np.nan)


    # # Convert date_recorded to datetime
    df2['date_object'] = pd.to_datetime(df2['date'], infer_datetime_format=True)
    # # Edf2tract components from date_recorded, then drop the original column
    df2['year'] = df2['date_object'].dt.year
    df2['month'] = df2['date_object'].dt.month
    df2['day'] = df2['date_object'].dt.day
    
    #this must be after data change...
    df2 = df2.replace(np.nan, "Null")

In [ ]:
# converts from
# Dec-2018 form (or any form?)
# to
# 2018-12-01 
# form

#df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)
df["created"] = pd.to_datetime(df["created"], infer_datetime_format=True)

In [ ]:
#creates a new column by taking just year out of date

df['year'] = df['issue_d'].dt.year

In [ ]:
#creates a new column by taking just month out of date
df['month'] = df['issue_d'].dt.month

In [ ]:
#creates a new column by taking just month out of date
df['day'] = df['issue_d'].dt.day

In [ ]:
# converts formats 
# splits into separate column
df["created"] = pd.to_datetime(df["created"], infer_datetime_format=True)
df['year'] = df['issue_d'].dt.year
df['month'] = df['issue_d'].dt.month
df['day'] = df['issue_d'].dt.day

In [ ]:
#returns difference between two dates
df['issue_d'] - df['earliest_cr_line']

In [ ]:
# time based split
# create a test train split 
# remember to put time in quotes
df["created"] = pd.to_datetime(df["created"], infer_datetime_format=True)
train = df[df['created'] < '2016-06-01 00:00:00']
test = df[df['created'] >= '2016-06-01 00:00:00']

In [ ]:
#train test split with random seed
from sklearn.model_selection import train_test_split

my_train, my_val = train_test_split(df, random_state=42)
my_train.shape, my_val.shape

In [ ]:
#train test split with random seed
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.1, random_state=42)
train.shape, test.shape

In [ ]:
#train validate split with random seed
from sklearn.model_selection import train_test_split

train, validate = train_test_split(df, test_size=0.2, random_state=42)
train.shape, validate.shape

#Feature Management

https://www.geeksforgeeks.org/python-pandas-split-strings-into-two-list-columns-using-str-split/

### Could we try every possible feature combination?

The number of [combinations](https://en.wikipedia.org/wiki/Combination) is shocking!

In [ ]:
# How many features do we have currently?
features = X_train.columns
n = len(features)
n

In [ ]:
# How many ways to choose 1 to n features?
from math import factorial

def n_choose_k(n, k):
    return factorial(n)/(factorial(k)*factorial(n-k))

combinations = sum(n_choose_k(n,k) for k in range(1,n+1))
print(f'{combinations:,}')

In [ ]:
# change datatype of column
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

##Select best features

Refer to the [Scikit-Learn User Guide on Univariate Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html#univariate-feature-selection).

In [ ]:
# Select the 15 features that best correlate with the target
# (15 is an arbitrary starting point here)
from sklearn.feature_selection import f_regression, SelectKBest

# Similar API to what we've seen before
selector = SelectKBest(score_func=f_regression, k=15)

# IMPORTANT!
# .fit_transform on the train set
# .transform on test set
X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)
X_train_selected.shape, X_test_selected.shape

((31844, 15), (16973, 15))

In [ ]:
# Which features were selected?
all_names = X_train.columns
selected_mask = selector.get_support()
selected_names = all_names[selected_mask]
unselected_names = all_names[~selected_mask]

print('Features selected:')
for name in selected_names:
    print(name)
    
print('\n')
print('Features not selected:')
for name in unselected_names:
    print(name)

Features selected:
bathrooms
bedrooms
longitude
interest_level_high
interest_level_low
elevator
doorman
dishwasher
fitness_center
laundry_in_unit
outdoor_space
dining_room
terrace
perk_count
rooms


Features not selected:
latitude
interest_level_medium
cats_allowed
hardwood_floors
dogs_allowed
no_fee
laundry_in_building
pre-war
roof_deck
high_speed_internet
balcony
swimming_pool
new_construction
exclusive
loft
garden_patio
wheelchair_access
common_outdoor_space
cats_or_dogs
cats_and_dogs

#Feature Importance
- feature permutation/
Permutation Importance (by how much does your prediction score decrease if you remove that feature)

In [ ]:
import eli5
from eli5.sklearn import PermutationImportance

preprocessor = ce.OrdinalEncoder()
X_train_transformed = preprocessor.fit_transform(X_train[features])

model = RandomForestClassifier(
    n_estimators=100,
    class_weight='balanced',
    n_job=-1)

model.fit(X_train_transformed, y_train)
permuter = PermutationImportance(model, 
                                 scoring='roc_auc', 
                                 n_iter=5, 
                                 cv='prefit')
permuter.fit(X_train_transformed, y_train)
eli5.show_weights(permuter, top=None, feature_names=features)

##.Apply

s.apply(func, convert_dtype=True, args=())

In [ ]:
# defining function to check price 
def function_name(item): 
        return item+2
  
# passing function to apply and storing returned series in new 
new = s.apply(function)

In [ ]:
# Write a function that will work on any given cell in a dataframe column
def remove_percent_to_float(string):
  return float(string.strip('%'))

remove_percent_to_float(int_rate)

apply function to column_name
remembmer to return a value!

In [ ]:
train['construction_year'].replace({'a': {'b': np.nan}}, inplace=True)

In [ ]:
df['int_rate'] = df['int_rate'].apply(remove_percent_to_float)

##Feature Engineering

In [ ]:
# if conditional
# if the contents of x_symptom is true, then make a merged text string engineered feature
df.loc[df['spasticity_symptom'] == True, 'symptoms_diseases'] = df["spasticity_text"]+ ", " + df["symptoms_diseases"].map(str)

In [ ]:
# replacing a given item with NaN, replace with NaN
train['construction_year'] = train['construction_year'].replace('0', np.NaN)

In [ ]:
#or for the whole df:

df.replace('?', np.NaN)

In [ ]:
#use filter to fill a new column with boolean yes if contains X
df['emp_title_manager'] = df['emp_title'].str.contains('X')

In [ ]:
#removing columns
df.drop(index='cow', columns='small')

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

DataFrame.drop(self, labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

In [ ]:
# fill column with one value
df['A'] = 'foo'

In [ ]:
# This pulls a number from the front of a string and turns that into a catagorical
df['feature'] = df['feature'].str.split('.').str[0]
# this show what that produced
df['feature'].value_counts()

In [ ]:

# change decimals change the number of decimal places
arr3 = np.around(arr3, decimals=2)


##linspace vs. stepsize arange

In [ ]:
# step size (parameters: starting value, up-to value, stepsize)
>>> np.arange(0,11,2)
-> array([ 0,  2,  4,  6,  8, 10])

# vs
#evenly spaced points within range as opposed to stepsize (fixed gap)
# parameters: (start, stop, number of intermediate numbers)

>>> np.linspace(0,5,10) 
-> array([0.        , 0.55555556, 1.11111111, 1.66666667, 2.22222222,
       2.77777778, 3.33333333, 3.88888889, 4.44444444, 5.        ])

"click tab" to view methods...juypter notebook?

## Feature Form Translation
e.g. for list functions that don't work well on columns

map(apply function to all elements)

filter(leaving only boolean True)

split(on this)



### dataframe/series to list

https://stackoverflow.com/questions/22341271/get-list-from-pandas-dataframe-column

Pandas DataFrame columns are Pandas Series when you pull them out, which you can then call x.tolist() on to turn them into a Python list. Alternatively you cast it with list(x).

dfToList = df['one'].tolist()

dfList = list(df['one'])

dfValues = df['one'].values

in => 'i' in list_name(or raw list)

tuple unpacking

list to dataframe/series

https://stackoverflow.com/questions/42049147/convert-list-to-pandas-dataframe-column

df = pd.DataFrame({'new_column_name':list_name})

# matrix matrices

In [ ]:
# make a matrix in one line:
# (parameters: (start, up to, stepsize) and (dimensions of matrix)
mat = np.arange(1,26,1).reshape(5,5)
mat

In [ ]:
# RC rows before colums
mat3 = np.array([2,7,12]).reshape(3,1)

In [ ]:
https://www.sharpsightlabs.com/blog/numpy-sum/
# parameters
np.sum(array or matrix, axis of matrix 0 or 1 etc, dtype of output)

##String slice

##Training Set, Test Set, Splitting

##Cross Tables

https://colab.research.google.com/drive/19eUlRf1m1NGYP6IddyikG3OKB-IhIvE7

In [ ]:
 #generate crosstable
 pd.crosstab(df.regiment, df.company, margins=True)


 # with headings!
 #Let's use crosstabulation to try to see what's going on
pd.crosstab(user_data['purchased'], user_data['time_on_site'])

##Filtering section filt sec filter section

https://www.udemy.com/course/python-for-data-science-and-machine-learning-bootcamp/learn/lecture/5733214#overview

https://chrisalbon.com/python/data_wrangling/filter_dataframes/

https://cmdlinetips.com/2018/02/how-to-subset-pandas-dataframe-based-on-values-of-a-column/

Note: 
Zip function

In [ ]:
# insane boolean true value filtering
# 1 make a conditional copy of a DF
# "compare" the two dataframes by putting the 2nd dataframe into the first!
# make a new DF containing only the filtered values
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df_boolean = df < 0
df_filtered = df[df_boolean]
df_filtered

In [ ]:
#filter out the features you want keep
new_df = old_df.filter(['A','B','D'])

In [ ]:
#get all the features for one observation
X_test.iloc[[3094]]

In [ ]:
#reverses colum order of output
()[::-1]

In [ ]:
.sort_values('Credit Score', ascending=False) #works as well if the slicing confuses you.

In [ ]:
#so changes made to new don't affect old
new_df = df.copy

In [ ]:
#sort by values
#lists by values
pd.DataFrame(search.cv_results_).sort_values(by='rank_test_score')

#adds transpose
pd.DataFrame(search.cv_results_).sort_values(by='rank_test_score').T

In [ ]:
#normalized value count!
y_train.value_counts(normalize=True)

In [ ]:
# as a way of filtering whole dataframe by collumn
df = df[df['SALE_PRICE'] > 0]
df = df[df['SALE_PRICE'] > 0]

In [ ]:
#use "filtering" to create two new party based df (so much for nonpartisan dataframes...a sad day)
dem = df[df['party'] == 'democrat']
rep = df[df['party'] == 'republican']

In [ ]:
#value_counts: prints out results in ascending or descending order

In [ ]:
#top ten products
orders_products['product_name'].value_counts().head(10)

In [ ]:
#doing computations or functions on each item in collum:
#.apply

def starts_with_m(item):
   return string[0]=='m'

df['sex'].apply(starts_with_m)

In [ ]:
# get the number of unique employment titles
df['emp_title'].value_counts(dropna=False).reset_index().shape[0]

In [ ]:
# empty slots
df['emp_title'].isnull().sum()

In [ ]:
#returns boolean if contains x
df['emp_title'].str.contains('Manager')

In [ ]:
#returns the whole df but only those parts that contain the boolean yes
new_variable = (df['emp_title_manager'] == True)
df[new_variable].head()

In [ ]:
#returns part of df that contaions a given string XXX
new_variable = df[df['emp_title'].str.contains('XXX')]
print(new_variable.shape)
new_variable.head()

In [ ]:
#returns the whole df but only those parts that contain the boolean yes
top10_orders_and_products = orders_products[orders_products['keep_it'] == True]

In [ ]:
#recomended method to filter..."dataframe filtering vs .loc"
usa = df[df.country == 'United States']

# Baseline Section

Notes on baseline:

examples of baseline:
1. Mean of Y
2. (r)SSE of mean of Y
3. Kitchen sink model (all features) (2018 teacher)
4. random guess (w/cross val) (R.Herr 2019)

In [ ]:
# This returns the decimal/percent ratios of the component "classes"  cardinals, categories, options
df.value_counts(normalize=True)

In [ ]:
import category_encoders as ce
from sklearn.ensamble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline

#This is a pipeline to calculate a baseline based on just one feature
#Note: this contains a cross-validation element, so 3-way-split is not needed.
features = ['one_X_feature']

baseline_pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    RandomForestClassifier(
        n_estimators=100,
        class_weight='balanced',
        n_jobs=-1,
    )
)

cross_val_score(baseline_pipeline, 
                X_train[features], 
                y_train, 
                cv=5,
                scoring='roc_auc')

#Graphs plotting 
graphing section viz fig graph chart plot dashboard visualziation

In [ ]:
#basic plot
%matplotlib inline
import seaborn as sns
sns.distplot(df['cost']);

In [ ]:
#basic plot
df['column_name'].plot()

In [ ]:
#Graphs

 
#Histogram 
plotA = df['age'].hist(bins=100);
plotA.set_ylabel('People Observed')
plotA.set_xlabel('Age')
plotA.set_title('Age By number of People')


#Scatterplot
plotae = df.plot.scatter('age', 'exercise_time');
plotae.set_ylabel('exercise_timeht')
plotae.set_xlabel('Age')
plotae.set_title('Age and exercise_time')


#Density Plot
plotdw = df['weight'].plot.density();
plotdw.set_xlabel('Weight')
plotdw.set_title('density plot of Weight')
dataset1['ethnicity'].plot.density();

Graph a single column...

In [ ]:
#density plot
df['int_rate'].plot.density()

In [ ]:
#hist
df['int_rate'].hist(bins=20);

Matplot Lib Basics from udemy course

https://colab.research.google.com/drive/1jz0D8OnSgZUhTg4xwapLVAKikuMyWQFH

## Template for Matplotlib

https://colab.research.google.com/drive/1yv6VW-gwXoJ_BjatTqG_XRrHCSQ5F310#scrollTo=5EqXxnJeB89_

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import AutoMinorLocator, MultipleLocator, FuncFormatter

np.random.seed(19680801)

#generating data to put on figure
X = np.linspace(0.5, 3.5, 100)
Y1 = 3+np.cos(X)
Y2 = 1+np.cos(1+X/0.75)/2
Y3 = np.random.uniform(Y1, Y2, len(X))

fig = plt.figure(figsize=(8, 8))
ax = fig.add_subplot(1, 1, 1, aspect=1)

def minor_tick(x, pos):
    if not x % 1.0:
        return ""
    return "%.2f" % x

#on axes object
ax.xaxis.set_major_locator(MultipleLocator(1.000))
ax.xaxis.set_minor_locator(AutoMinorLocator(4))
ax.yaxis.set_major_locator(MultipleLocator(1.000))
ax.yaxis.set_minor_locator(AutoMinorLocator(4))
ax.xaxis.set_minor_formatter(FuncFormatter(minor_tick))

ax.set_xlim(0, 4)
ax.set_ylim(0, 4)

ax.tick_params(which='major', width=1.0)
ax.tick_params(which='major', length=10)
ax.tick_params(which='minor', width=1.0, labelsize=10)
ax.tick_params(which='minor', length=5, labelsize=10, labelcolor='0.25')

ax.grid(linestyle="--", linewidth=0.5, color='.25', zorder=-10)

#ax.plot(X, Y1, c=(0.25, 0.25, 1.00), lw=2, label="Blue signal", zorder=10)
ax.plot(X, Y2, c=(1.00, 0.25, 0.25), lw=2, label="Red signal")
ax.plot(X, Y3, linewidth=0,
        marker='o', markerfacecolor='w', markeredgecolor='k')

ax.set_title("Anatomy of a figure", fontsize=20, verticalalignment='bottom')
ax.set_xlabel("X axis label")
ax.set_ylabel("Y axis label")

ax.legend()


def circle(x, y, radius=0.15):
    from matplotlib.patches import Circle
    from matplotlib.patheffects import withStroke
    circle = Circle((x, y), radius, clip_on=False, zorder=10, linewidth=1,
                    edgecolor='black', facecolor=(0, 0, 0, .0125),
                    path_effects=[withStroke(linewidth=5, foreground='w')])
    ax.add_artist(circle)


def text(x, y, text):
    ax.text(x, y, text, backgroundcolor="white",
            ha='center', va='top', weight='bold', color='blue')

# Minor tick
circle(0.50, -0.10)
text(0.50, -0.32, "Minor tick label")

# Major tick
circle(-0.03, 4.00)
text(0.03, 3.80, "Major tick")

# Minor tick
circle(0.00, 3.50)
text(0.00, 3.30, "Minor tick")

# Major tick label
circle(-0.15, 3.00)
text(-0.15, 2.80, "Major tick label")

# X Label
circle(1.80, -0.27)
text(1.80, -0.45, "X axis label")

# Y Label
circle(-0.27, 1.80)
text(-0.27, 1.6, "Y axis label")

# Title
circle(1.60, 4.13)
text(1.60, 3.93, "Title")

# Blue plot
circle(1.75, 2.80)
text(1.75, 2.60, "Line\n(line plot)")

# Red plot
circle(1.20, 0.60)
text(1.20, 0.40, "Line\n(line plot)")

# Scatter plot
circle(3.20, 1.75)
text(3.20, 1.55, "Markers\n(scatter plot)")

# Grid
circle(3.00, 3.00)
text(3.00, 2.80, "Grid")

# Legend
circle(3.70, 3.80)
text(3.70, 3.60, "Legend")

# Axes
circle(0.5, 0.5)
text(0.5, 0.3, "Axes")

# Figure
circle(-0.3, 0.65)
text(-0.3, 0.45, "Figure")

color = 'blue'
ax.annotate('Spines', xy=(4.0, 0.35), xytext=(3.3, 0.5),
            weight='bold', color=color,
            arrowprops=dict(arrowstyle='->',
                            connectionstyle="arc3",
                            color=color))

ax.annotate('', xy=(3.15, 0.0), xytext=(3.45, 0.45),
            weight='bold', color=color,
            arrowprops=dict(arrowstyle='->',
                            connectionstyle="arc3",
                            color=color))

ax.text(4.0, -0.4, "Made with http://matplotlib.org",
        fontsize=10, ha="right", color='.5')

plt.show()

##Quick Correlation Check

corr section

In [ ]:
df.corr()

In [ ]:
df[['Column1', 'Column2']].corr()

In [ ]:
import numpy as np
X = df['Column1']
y = df['Column2']
np.corrcoef(X, y)

##Binning

In [ ]:
#titanic dataset
#q cut in quantile sized bins
# 5 is arbitary
age_bins_cut = pd.cut(df['age'], 5)
age_bins_qcut = pd.qcut(df['age'], 5)

In [ ]:
#equal size intervals
age_bins_cut.value_counts(sort=False)

In [ ]:
#equal size intervals
age_bins_qcut.value_counts(sort=False)

In [ ]:
control for:
g = sns.FacetGrid(df, col="age_bin", height=4)
g.map(sns.regplot, "exercise_time", "weight");

##Join Merge Contacotonate Melt

In [ ]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unstack.html

In [ ]:
# merges them if there is one shared collumn
pd.concat([df1,df2], axis=1)

In [ ]:
# stacks them if all collumns are already the same
pd.concat([df1,df2])

In [ ]:
#melt: makes it more tidy
pd.melt(df)

In [ ]:
#inner join in python pandas
print pd.merge(df1, df2, on='Customer_id', how='inner')

In [ ]:
#drop all columns except a, b
df.drop(df.columns.difference(['a','b']), 1, inplace=True)

In [ ]:
#Turn an index into a column
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html

# Statistics Section
Stats
stat sec
stats sec

In [ ]:
https://colab.research.google.com/drive/1MX0LJlRgObHoJ2sC2xx5X-n3E7Wn_2p9#scrollTo=62rXAnuhM7xs

In [ ]:
t_df10 = np.random.standard_t(df=10, size=10)
t_df100 = np.random.standard_t(df=100, size=1000)
t_df1000 = np.random.standard_t(df=1000, size=100000)

In [ ]:
sns.kdeplot(t_df10, color='r');
sns.kdeplot(t_df100, color='y');
sns.kdeplot(t_df1000, color='b');

In [ ]:
i = 10
for sample in [t_df10, t_df100, t_df1000]:
    print(f"t - distribution with {i} degrees of freedom")
    print("---" * 10)
    print(f"Mean: {sample.mean()}")
    print(f"Standard Deviation: {sample.std()}")
    print(f"Variance: {sample.var()}")
    i = i*10

## T-Tests

In [ ]:
# one sample t-test
# for one sample t test, you are never putting in the null hypothesis.

# for a null hypothsis is always that they are the same:

# Run 1-sample t-test providing sample and null hypothesis
# pass nan_policy='omit' any time you nave NaN values in a column
# the second number (the mean-pop:, set to zero in the example) is the hypothesis
ttest_1samp(rep['budget'], 0, nan_policy='omit')

###1 Sample T-Test Results:
Concluding Remarks:

Given the results of the above test I would REJECT the null hypothesis that there is no Democrat support for the handicapped-infants bill at the 95% significance level.


In Layman's terms 

It would be a FALSE statment to declare that there is no democratic support for this bill. That's something that you might hear a political pundit declare, but you'll notice that they don't report their alpha value or p-value when they make such claims, they just spew them. --Tell us how you really feel!



Based on a t-statistic of 19.8 and a p-value of 0, we reject the null hypothesis that there is 0 Democrat support for the Handicapped Infants bill, and suggest the alternative, that Democrat support is non-zero.

In [ ]:
#two sample t-test
print(ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit'))
print(rep['water-project'].mean())
print(dem['water-project'].mean())

###2 Sample T-Test results

Concluding Remarks:

(Formal Concluding Remarks)
Due to our test resulting in a T-Statistic of 9.737575825219457 and a P-value of 2.3936722520597287e-20: we reject the null hypothesis that the two vote means are not different.


(Explanatory/Laymans Terms)
Here the small pvalue below .05, indicates a lack of similarity between the two means compared. The null hypothesis is that they are NOT different, and the result showing that they ARE different means strongly rejecting (the null hypothesis) that they are not different. The Large T value shows a larger difference, and the small P-value indicates an extremely low probability that the apparent difference appeared by chance alone. 



Ttest_indResult

(statistic=9.737575825219457, 

pvalue=2.3936722520597287e-20) 

0.8975903614457831 Republican mean 

0.47674418604651164 Democratic mean

In [ ]:
def conf_int(data, confidence=0.95):

  data = np.array(data)
  mean = np.mean(data)
  n = len(data)
  # stderr = stats.sem(data)
  stderr = np.std(data, ddof=1) / np.sqrt(n)
  margin_of_error = stderr * stats.t.ppf((1 + confidence) / 2.0, n - 1)
  print(margin_of_error)
  return (mean, mean - margin_of_error, mean + margin_of_error)

In [ ]:
import scipy.stats as stats

def confidence_interval(data, confidence=0.95):
  """
  Calculate a confidence interval around a sample mean for given data.
  Using t-distribution and two-tailed test, default 95% confidence. 
  
  Arguments:
    data - iterable (list or numpy array) of sample observations
    confidence - level of confidence for the interval
  
  Returns:
    tuple of (mean, lower bound, upper bound)
  """
  data = np.array(data)
  mean = np.mean(data)
  n = len(data)
  # stderr = stats.sem(data)
  stderr = np.std(data, ddof=1) / np.sqrt(n)
  margin_of_error = stderr * stats.t.ppf((1 + confidence) / 2.0, n - 1)
  print(margin_of_error)
  return (mean, mean - margin_of_error, mean + margin_of_error)

In [ ]:
#Bayesian function
# "alpha" is the confidence interval
mean, variance, stdev = stats.bayes_mvs(dem['water-project'].dropna(),alpha=.95)

In [ ]:
def conf_int(data, confidence=0.95):

  data = np.array(data)
  mean = np.mean(data)
  n = len(data)
  stderr = np.std(data, ddof=1) / np.sqrt(n)
  margin_of_error = stderr * stats.t.ppf((1 + confidence) / 2.0, n - 1)
  print(margin_of_error)

  return ('The Mean =' mean, 'Mean - Margin of Error =' mean - margin_of_error, 'Mean + Margin of Error=' mean + margin_of_error)

In [ ]:
# mean, variance, standard deviation
#
#the values in question
sales = [3505, 2400, 3027, 2798, 3700, 3250, 2689]

#defining a function to calculate mean, variance, and standard deviation
def list_stdev(list):
  #creating a new list to fill later with calculated values
  mean_diff = []
  #this calculates the mean (sum divided by list length)
  list_mean = sum(list)/len(list)
  print ("The mean('average') is:", list_mean)
  #this creates a new list of differneces between each value and the mean
  #append adds the results of cycling i through the list
  for i in sales:
    mean_diff.append((i - list_mean)**2)
  #this calculates variance: the mean of those differences (between each value and the mean)
  list_variance = sum(mean_diff)/len(mean_diff)
  print ("The variance is:", list_variance)
  #this printes out the standard deviation, which is the square root (or X^.5) of the variance
  print ("The standard deviation is:", list_variance**.5)
  #this ends the programe
  return 

list_stdev(sales)

In [ ]:
# variance, standard deviation
def variance(numbers):
 meanval = mean(numbers)
 # print(meanval)
 lenght = len(numbers)
 sumAll=0.0
 for a in numbers:
   # print(a)
   x = a-meanval #Xi-Xm
   y = x**2
   sumAll = sumAll+y
 return(sumAll/lenght)
print(variance(values))
def std(numbers):
   return (variance(numbers)) ** (1/2)
print(std(values))

## Exporting Files and Results

In [ ]:
#loads into df
#(broken) df = pd.DateFrame(data)
df = pd.read_csv('file_name')
#exports df (current working directory)
df.to_csv('data.csv')

df.to_json(r'Path where you want to store the exported JSON file\File Name.json')
posts.to_json(r'Path where you want to store the exported JSON file\posts_json.json')

See:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html

In [ ]:
# Predict on test
y_pred = pipeline.predict(X_test)

In [ ]:
sample_submission['status_group'] = pipeline.predict(X_test)

In [ ]:
submission['status_group'] = y_pred

In [ ]:
from google.colab import files

In [ ]:

submission.to_csv('submission_GGA3.csv', index=False)

In [ ]:
#df.to_csv(file_name
df.to_csv('file_name.csv')

# download to local computer get csv
from google.colab import files
files.download('file_name.csv')

## Adults dataset


https://archive.ics.uci.edu/ml/datasets/Adult

In [ ]:
dataset_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

column_headers = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 
                 'marital-status', 'occupation', 'relationship', 'race', 'sex', 
                 'capital-gain', 'capital-loss', 'hours-per-week', 
                 'native-country', 'income']

df = pd.read_csv(dataset_url, names=column_headers)
print(df.shape)
df.head()

#Pipeline example

In [ ]:
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    SimpleImputer(strategy='mean'), 
    StandardScaler(), 
    LogisticRegression(multi_class='auto', solver='lbfgs', n_jobs=-1)
)

# Fit on train
pipeline.fit(X_train, y_train)

# Score on val
print('Validation Accuracy', pipeline.score(X_val, y_val))

# Predict on test
y_pred = pipeline.predict(X_test)

# confusion matrix

##Accuracy: 
(correct predictions) / (sum of whole matrix "total predictions")

accuracy_score(y_val, y_pred)

##Precision: 
precision = correct (for one class)/predicted(one class)


##Recall: 
recall = correct / actual (for one class only)


### classification_report
from sklearn.metrics import classification_report
print(classification_report(y_val, y_pred))

 precision    recall  f1-score

In [ ]:
from sklearn.metrics import confusion_matrix
#confusion_matrix#? #? gives help pane

In [ ]:
array([[7005,  171,  622],
       [ 555,  332,  156],
       [1098,   68, 4351]])

In [ ]:
#labels
from sklearn.utils.multiclass import unique_labels
unique_labels(y_val)

array(['functional', 'functional needs repair', 'non functional'],
      dtype='<U23')

In [ ]:
# This is hard to read
from sklearn.metrics import confusion_matrix
confusion_matrix(y_val, y_pred)

In [ ]:
# We need to get labels
from sklearn.utils.multiclass import unique_labels
unique_labels(y_val)

array(['functional', 'functional needs repair', 'non functional'],
      dtype='<U23')

In [ ]:
# 3. Plot a heatmap
def plot_confusion_matrix(y_true, y_pred):
    labels = unique_labels(y_true)
    columns = [f'Predicted {label}' for label in labels]
    index = [f'Actual {label}' for label in labels]
    table = pd.DataFrame(confusion_matrix(y_true, y_pred), 
                         columns=columns, index=index)
    #return sns.heatmap(table)
    return sns.heatmap(table, annot=True, fmt='d', cmap='viridis')

plot_confusion_matrix(y_val, y_pred)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_val, y_pred))

# regression outside of pipeline example

# Take 2: Using SK Learn Logistic Regression

In [ ]:
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler

In [ ]:
#setting the X Y targets for logistic regression
#X_train_logistic = X_train_imputed
#y_train_logistic = train_labels['status_group']

In [ ]:
my_train = train_labels

In [ ]:
target = train_labels['status_group']
features = ['gps_height', 'longitude', 'latitude', 'region_code']
X_train = train_features[features]
y_train = my_train[target]
X_val = my_val[features]
y_val = my_val[target]

imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_val_imputed = imputer.transform(X_val_encoded)

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

In [ ]:
model = LogisticRegressionCV(cv=5, n_jobs=-1, random_state=42)
model.fit(X_train_scaled, y_train)
model.score(X_val_scaled, y_val)

In [ ]:
%matplotlib inline
coefficients = pd.Series(model.coef_[0], X_train_encoded.columns)
coefficients.sort_values().plot.barh();

In [ ]:
X_train_encoded.describe()

In [ ]:
X_test = test[features]
X_test_encoded = encoder.transform(X_test)
X_test_imputed = imputer.transform(X_test_encoded)
X_test_scaled = scaler.transform(X_test_imputed)
y_pred = model.predict(X_test_scaled)

print(y_pred)

random numbers

#### Use NumPy to generate a random number between 0 and 1

In [ ]:
random.random()

0.1905308578592998

In [ ]:
np.random.rand(1)[0]

0.9092240707949499

In [ ]:
#import random
random.uniform(0,1)

0.22476292646891505

In [ ]:
import os
int.from_bytes(os.urandom(8), byteorder="big") / ((1 << 64) - 1)

0.34866504594732506

In [ ]:
#import random
for i in range(1):
    print(random.random())

0.8824447531063299

In [ ]:
#import random
for i in range(10):
    print(random.random())

0.8300609632228523
0.7309707703448267
0.34169306961325374
0.40587457695863083
0.8307540588362339
0.1494366527359493
0.4679897811210033
0.4502189814097758
0.24322438000385904
0.44183754942196707

In [ ]:
# yield vs. return changes the datastructure for functions

# Random Section 
## Random generation

In [ ]:
# create a randomly populated dataframe

# import pandas as pd
# from numpy.random import randn
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','z'])

#### Use NumPy to generate a random number between 0 and 1

In [ ]:
random.random()

0.1905308578592998

In [ ]:
np.random.rand(1)

array([0.58848872])

In [ ]:
np.random.rand(1)[0]

0.9092240707949499

In [ ]:
#import random
random.uniform(0,1)

0.22476292646891505

In [ ]:
import os
int.from_bytes(os.urandom(8), byteorder="big") / ((1 << 64) - 1)

0.34866504594732506

In [ ]:
#import random
for i in range(1):
    print(random.random())

0.8824447531063299

In [ ]:
#import random
for i in range(10):
    print(random.random())

0.8300609632228523
0.7309707703448267
0.34169306961325374
0.40587457695863083
0.8307540588362339
0.1494366527359493
0.4679897811210033
0.4502189814097758
0.24322438000385904
0.44183754942196707

#### Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [ ]:
np.random.rand(5,5)

array([[0.1580738 , 0.5334466 , 0.11239062, 0.59320151, 0.42296929],
       [0.89235932, 0.82980556, 0.73412403, 0.90999092, 0.48176504],
       [0.25152477, 0.4503155 , 0.70138715, 0.11458333, 0.43609971],
       [0.30074596, 0.32054328, 0.16568624, 0.82693096, 0.26963493],
       [0.55113328, 0.36021675, 0.42909119, 0.85727333, 0.4436998 ]])

In [ ]:
np.random.rand(25)

array([0.93815463, 0.68543331, 0.86309139, 0.03959841, 0.65358244,
       0.48893579, 0.18278211, 0.59607266, 0.05311989, 0.01237394,
       0.35403221, 0.30667484, 0.49378716, 0.68891036, 0.5543107 ,
       0.13101884, 0.25462533, 0.39919792, 0.25978075, 0.89218448,
       0.67931897, 0.47605744, 0.92871045, 0.13009352, 0.82562917])

## SQL

making an sqlite database in memory

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')

# pickle

In [ ]:
# Create multiple KNN models and pickle for use in the plotly dash app.
for k in [5,10,15,20,25]:
    mymodel = KNeighborsClassifier(n_neighbors=k, weights='distance', metric='euclidean')
    mymodel.fit(X_train, y_train)
    y_pred = mymodel.predict(X_test)
    file = open(f'resources/model_k{k}.pkl', 'wb')
    # dump my model into the file specified
    pickle.dump(mymodel, file)
    file.close()

In [ ]:
def display_results(k, value0, value1):
    # this opens the pickle
    # the opposite of pickling the file
    file = open(f'resources/model_k{k}.pkl', 'rb')
    model=pickle.load(file)
    file.close
    new_obs=[[value0,value1]]
    pred=model.predict(new_obs)
    specieslist=['setosa', 'versicolor','verginica']
    final_pred=specieslist[pred[0]]
    return f'For a flower with sepal length {value0} and petal length {value1}, the predicted species is"{final_pred}"'

In [ ]:
# endpoints and search:

#max-david-gg version 2 code: with total lenth

# for the pipenv
# basilica==0.2.8
# certifi==2019.11.28
# chardet==3.0.4
# Click==7.0
# Flask==1.1.1
# gunicorn==20.0.4
# idna==2.8
# itsdangerous==1.1.0
# Jinja2==2.10.3
# MarkupSafe==1.1.1
# numpy==1.18.1
# pandas==0.25.3
# Pillow==7.0.0
# python-dateutil==2.8.1
# python-dotenv==0.10.3
# pytz==2019.3
# requests==2.22.0
# scipy==1.4.1
# six==1.13.0
# urllib3==1.25.7
# Werkzeug==0.16.0
# Flask-Cors

# origin testing sandbox for this code
# https://colab.research.google.com/drive/1lo-vG3jIOGl6_oepSTDuO2Ti9OeZuqda

# Explanation for WEB:
# Original dummy endpoint is now here at lambda AWS host:
# http://3.12.71.81/dummy_data
# New offset+range search:
# http://3.12.71.81/offset_search
# Description of: /offset_search route
# expecting a json input like this:
# {"search":"AL FAWWAZ", "offset":2, "range": 3}
# This endpoint will return the rows starting after 'offset' and 'including 'range' number of results
# This "search" (for this version) searches only the last name column: so names such as "AL FAWWAZ"
# will return multiple result/rows that you can play with. These also have a multiple mentions:
# - AL-FAUWAZ
# - AL FAWWAZ
# - ESSABAR
# - AL-FAWWAZ
# This does not do anything more than this for now, but improvements will come (including better search and total number of possible results, etc....and anything else you want use to scrabble into it!)
# The exact formatting is not ideal, and doesn't include David's DOB improvements,but those will be updated/fixed. Hopefully this will give you enough to work with just to practice
# This is an endpoint-tester than anyone can use to experiment with the new search:
# https://drive.google.com/file/d/1bEWgKQk9Njqz9QyeKYrZsA6O6lStAFnc/view?usp=sharing (edited)

from flask import Flask, jsonify, request
from flask_cors import CORS

import numpy as np
import pandas as pd
from scipy import spatial

#from vars_funcs import*

app = Flask(__name__)
CORS(app)

dummy_data = {
"unique_ID": 365734763476,
"source_of_sanction": "USA",
"map_place_locations": "this_may_be_a_few_different_type_collumns",
"first_name": "fake_value_goes_here",
"last_name": "fake_value_goes_here",
"address": "fake_value_goes_here",
"title": "fake_value_goes_here",
"dob": "fake_value_goes_here",
"pob": "fake_value_goes_here",
"nationality": "fake_value_goes_here",
"gender": "fake_value_goes_here",
"passport": "fake_value_goes_here",
"identification_number": "fake_value_goes_here",
"national_id_no": "fake_value_goes_here",
"company number": "fake_value_goes_here",
"curp": "fake_value_goes_here",
"website": "fake_value_goes_here",
"email_address": "fake_value_goes_here",
"tax_id_no": "fake_value_goes_here",
"registration_id": "fake_value_goes_here",
"swift/bic": "fake_value_goes_here",
"government_gazette_number": "fake_value_goes_here",
"c/o": "fake_value_goes_here",
"personal_id_card": "fake_value_goes_here",
"citizen": "fake_value_goes_here",
"linked_to": "fake_value_goes_here",
"cedula_no": "fake_value_goes_here",
"company_number": "fake_value_goes_here",
"certificate_of_incorporation_number": "fake_value_goes_here",
"rfc": "fake_value_goes_here",
"fka": "fake_value_goes_here",
"aka": "fake_value_goes_here",
"nka": "fake_value_goes_here",
"nit": "fake_value_goes_here",
"ssn": "fake_value_goes_here",
"mmsi": "fake_value_goes_here",
"entity": "fake_value_goes_here",
"programs": "fake_value_goes_here",
"date": "fake_value_goes_here",
"action": "fake_value_goes_here"
}

dummy_data_second = {"results":
[{"last_name": "(Linked To: GORRIN BELISARIO", "first_name": None, "address": ". ", "title": None, "dob": None, "pob": None, "nationality": None, "gender": None, "passport": None, "identification_number": None, "national_id_no": None, "company number": None, "curp": None, "website": None, "email_address": None, "tax_id_no": None, "registration_id": None, "swift_bic": None, "government_gazette_number": None, "c_o": None, "personal_id_card": None, "citizen": None, "linked_to": "GORRIN BELISARIO, Raul", "cedula_no": None, "company_number": None, "certificate_of_incorporation_number": None, "rfc": None, "fka": None, "aka": None, "nka": None, "nit": None, "ssn": None, "mmsi": None, "entity": None, "programs": None, "action": "added", "year": 2019, "month": 1, "day": 8}, {"last_name": " DE PERDOMO", "first_name": None, "address": "144 Isla Dorada Blvd., Coral Gables, FL 33146, United States;4100 Salzedo Street, Apt 1010, Miami, FL 33146, United States", "title": None, "dob": "25 Mar 1972", "pob": None, "nationality": None, "gender": "Female", "passport": "135278046 Venezuela expires 14 Oct 2020;079280833 Venezuela expires 22 Oct 2018;018516885 Venezuela expires 04 Dec 2013  ", "identification_number": None, "national_id_no": None, "company number": None, "curp": None, "website": None, "email_address": None, "tax_id_no": None, "registration_id": None, "swift_bic": None, "government_gazette_number": None, "c_o": None, "personal_id_card": None, "citizen": "Venezuela", "linked_to": None, "cedula_no": "10538067 Venezuela", "company_number": None, "certificate_of_incorporation_number": None, "rfc": None, "fka": None, "aka": "DE PERDOMO, Maria A;PERDOMO ROSALES, Maria Alexandra;PERDOMO, Maria Alexandra;PERDOMO-ROSALES, Maria", "nka": None, "nit": None, "ssn": None, "mmsi": None, "entity": "individual", "programs": "[VENEZUELA-EO13850] ", "action": "added", "year": 2019, "month": 1, "day": 8}, {"last_name": "(Linked To: GORRIN BELISARIO", "first_name": None, "address": ". ", "title": None, "dob": None, "pob": None, "nationality": None, "gender": None, "passport": None, "identification_number": None, "national_id_no": None, "company number": None, "curp": None, "website": None, "email_address": None, "tax_id_no": None, "registration_id": None, "swift_bic": None, "government_gazette_number": None, "c_o": None, "personal_id_card": None, "citizen": None, "linked_to": "GORRIN BELISARIO, Raul", "cedula_no": None, "company_number": None, "certificate_of_incorporation_number": None, "rfc": None, "fka": None, "aka": None, "nka": None, "nit": None, "ssn": None, "mmsi": None, "entity": None, "programs": None, "action": "added", "year": 2019, "month": 1, "day": 8}]}


# sample data
#df = pd.read_csv('SDN02.csv', encoding='unicode_escape')
df = pd.read_csv('SDNALL.csv', encoding='unicode_escape')

# Need to install key manager package
# Need to install git secrets
# Need to insert AWS keys
#app.config['SECRET_KEY'] = "EMPTY"

@app.route('/')
def home():
    return """endpoints for beta Sanctions Explorer -- data science API home route
    search expecting input as this format: {"search":"AL FAWWAZ", "offset":2, "range": 3 }
    https://endpoints1.herokuapp.com/offset_search

    example output (fixed)
    https://endpoints1.herokuapp.com/dummy_data

    Data Schema(term?)
    https://endpoints1.herokuapp.com/dummy_data_schema

    Maybe not working search and totals (but maybe working, sending 2 json objects)
    https://endpoints1.herokuapp.com/offset_search_totals

    Endpoint returning offset-range slice of results plus results total
    https://endpoints1.herokuapp.com/offset_search_totals2

    Differently formatted json dictionary search
    https://endpoints1.herokuapp.com/offset_search_reformat

    searchs all data offset range totals (slow)
    https://endpoints1.herokuapp.com//offset_search_all_data_1

    search to specify column is up and running!
    input format
    {"feature_column": 'last_name', "search":"AL FAWWAZ", "offset":2, "range": 3}
    https://endpoints1.herokuapp.com/pick_column_offset_searchtotal

    # searches partial string search
    # form of input {"search":'AL FAWWAZ', "offset":2, "range": 3}
    https://endpoints1.herokuapp.com/partial_match_search_all_columns1

    """

@app.route('/dummy_data')
def test_dummy_data():
    return jsonify(dummy_data)

@app.route('/dummy_data_schema')
def test_dummy_data_schema():
    return jsonify(dummy_data_second)

@app.route('/offset_search', methods=['POST'])
def offset_search_1():
    #this is the route the Frontend makes requests to

    # this gets the json object
    json_obj = request.get_json(force=True)

    # these three lines brake up the json object into
    # variables us-able by python
    search1 = json_obj["search"]
    offset1 = json_obj["offset"]
    range1 = json_obj["range"]

    # this plugs the user's search term into the "search"
    df_search = df[df['last_name'] == search1]

    #this is how many total search returns there were
    search_length1 = df_search.shape[0]

    #this puts the total search returns into a json object/dictionary
    search_lenth_dict = {"total_search_result_number":search_length1}

    # this applies the offset(where to start)
    # and range (how many rows to display)
    df_search = df_search.iloc[offset1:offset1 + range1]

    # this turns output into a json object
    json_output = df_search.to_json(orient='index')

    # returns the search results per offset and range
    return json_output

@app.route('/offset_search_reformat', methods=['POST'])
def offset_search_reformat1():
    #this is the route the Frontend makes requests to

    # this gets the json object
    json_obj = request.get_json(force=True)

    # these three lines brake up the json object into
    # variables us-able by python
    search1 = json_obj["search"]
    offset1 = json_obj["offset"]
    range1 = json_obj["range"]

    # this plugs the user's search term into the "search"
    df_search = df[df['last_name'] == search1]

    #this is how many total search returns there were
    search_length1 = df_search.shape[0]

    #this puts the total search returns into a json object/dictionary
    search_lenth_dict = {"total_search_result_number":search_length1}

    # this applies the offset(where to start)
    # and range (how many rows to display)
    df_search = df_search.iloc[offset1:offset1 + range1]

    # this turns output into a json object
    json_output = df_search.to_dict(orient='index')

    # returns the search results per offset and range
    return json_output

# new endpoint that includes the total possible search results
@app.route('/offset_search_totals', methods=['POST'])
def offset_search_2():
    #this is the route the Frontend makes requests to

    # this gets the json object
    json_obj = request.get_json(force=True)

    # these three lines brake up the json object into
    # variables us-able by python
    search1 = json_obj["search"]
    offset1 = json_obj["offset"]
    range1 = json_obj["range"]

    # this plugs the user's search term into the "search"
    df_search = df[df['last_name'] == search1]

    #this is how many total search returns there were
    search_length1 = df_search.shape[0]

    #this puts the total search returns into a json object/dictionary
    search_lenth_dict = {"total_search_result_number":search_length1}

    # this applies the offset(where to start)
    # and range (how many rows to display)
    df_search = df_search.iloc[offset1:offset1 + range1]

    # this turns output into a json object
    json_output = df_search.to_dict(orient='index')

    #this creates a new json file with both jsons combined
    output_with_total_search_result_number = {**search_lenth_dict, **json_output}

    # returns the search results per offset and range
    return search_lenth_dict, json_output

# new endpoint that includes the total possible search results
@app.route('/offset_search_totals2', methods=['POST'])
def offset_search_3():
    #this is the route the Frontend makes requests to

    # this gets the json object
    json_obj = request.get_json(force=True)

    # these three lines brake up the json object into
    # variables us-able by python
    search1 = json_obj["search"]
    offset1 = json_obj["offset"]
    range1 = json_obj["range"]

    # this plugs the user's search term into the "search"
    df_search = df[df['last_name'] == search1]

    #this is how many total search returns there were
    search_length1 = df_search.shape[0]

    #this puts the total search returns into a json object/dictionary
    search_lenth_dict = {"total_search_result_number":search_length1}

    # this applies the offset(where to start)
    # and range (how many rows to display)
    df_search = df_search.iloc[offset1:offset1 + range1]

    # this turns output into a json object
    json_output = df_search.to_dict(orient='index')

    #this creates a new json file with both jsons combined
    output_with_total_search_result_number = {"total_number_of_possible_rows_returned":search_length1,"search results": json_output}

    # returns the search results per offset and range
    return output_with_total_search_result_number

# new endpoint that includes the total possible search results
@app.route('/offset_search_all_data_1', methods=['POST'])
def offset_search_all_data1():
    #this is the route the Frontend makes requests to

    # this gets the json object
    json_obj = request.get_json(force=True)

    # these three lines brake up the json object into
    # variables us-able by python
    search1 = json_obj["search"]
    offset1 = json_obj["offset"]
    range1 = json_obj["range"]

    # this plugs the user's search term into the "search"
    #df_search = df[df['last_name'] == search1]
    df_search = df[df.apply(lambda row: row.astype(str).str.contains(search1).any(), axis=1)]

    #this is how many total search returns there were
    search_length1 = df_search.shape[0]

    #this puts the total search returns into a json object/dictionary
    search_lenth_dict = {"total_search_result_number":search_length1}

    # this applies the offset(where to start)
    # and range (how many rows to display)
    df_search = df_search.iloc[offset1:offset1 + range1]

    # this turns output into a json object
    json_output = df_search.to_dict(orient='index')

    #this creates a new json file with both jsons combined
    output_with_total_search_result_number = {"total_number_of_possible_rows_returned":search_length1,"search results": json_output}

    # returns the search results per offset and range
    return output_with_total_search_result_number

# for specifying one column
@app.route('/pick_column_offset_searchtotal', methods=['POST'])
def pick_column_offset_searchtotal1():
    # This is the route the Frontend makes requests to

    # this gets the json object
    json_obj = request.get_json(force=True)

    # these three lines brake up the json object into
    # variables us-able by python
    feature_column1 = json_obj["feature_column"]
    search1 = json_obj["search"]
    offset1 = json_obj["offset"]
    range1 = json_obj["range"]

    # this plugs the user's search term into the "search"
    df_search = df[df[feature_column1] == search1]

    #this is how many total search returns there were
    search_length1 = df_search.shape[0]

    #this puts the total search returns into a json object/dictionary
    search_lenth_dict = {"total_search_result_number":search_length1}

    # this applies the offset(where to start)
    # and range (how many rows to display)
    df_search = df_search.iloc[offset1:offset1 + range1]

    # this turns output into a json object
    json_output = df_search.to_dict(orient='index')

    #this creates a new json file with both jsons combined
    output_with_total_search_result_number = {"total_number_of_possible_rows_returned":search_length1,"search results": json_output}

    # returns the search results per offset and range
    return output_with_total_search_result_number

# for specifying one column
@app.route('/basic_literal_search_all_columns1', methods=['POST'])
def basic_literal_search_all_columns_1():
    # This is the route the Frontend makes requests to

    # this gets the json object
    json_obj = request.get_json(force=True)

    # these three lines brake up the json object into
    # variables us-able by python
    #feature_column1 = json_obj["feature_column"]
    search1 = json_obj["search"]
    offset1 = json_obj["offset"]
    range1 = json_obj["range"]

    # this searchs all collumns and merges the search_results

    # This establishes a storage df outside of the loop
    stored_df_search = pd.DataFrame()

    # a for loop for doing a literal search of all colums for all data types
    for column_name in df.columns:
        # this searches each row, one row at a time for each
        # for loop iteration
        df_search = df[df[column_name] == search1]
        # this merges/joins/contatenates/combines
        #  the new search results into the cumulative
        df_search = pd.concat([stored_df_search, df_search])
        # this stores the cumulative date for the next loop iteration
        stored_df_search = df_search

    #this is how many total search returns there were
    search_length1 = df_search.shape[0]

    #this puts the total search returns into a json object/dictionary
    search_lenth_dict = {"total_search_result_number":search_length1}

    # this applies the offset(where to start)
    # and range (how many rows to display)
    df_search = df_search.iloc[offset1:offset1 + range1]

    # this turns output into a json object
    json_output = df_search.to_dict(orient='index')

    #this creates a new json file with both jsons combined
    output_with_total_search_result_number = {"total_number_of_possible_rows_returned":search_length1,"search results": json_output}

    # returns the search results per offset and range
    return output_with_total_search_result_number


# for specifying one column
@app.route('/partial_match_search_all_columns1', methods=['POST'])
def partial_match_search_all_columns():
    # This is the route the Frontend makes requests to

    # this gets the json object
    json_obj = request.get_json(force=True)

    # these three lines brake up the json object into
    # variables us-able by python
    #feature_column1 = json_obj["feature_column"]
    search1 = json_obj["search"]
    offset1 = json_obj["offset"]
    range1 = json_obj["range"]

    # this searchs all collumns and merges the search_results

    # This establishes a storage df outside of the loop
    stored_df_search = pd.DataFrame()

    # a for loop for doing a literal search of all colums for all data types
    for column_name in df.columns:
        # this searches each row, one row at a time for each
        # for loop iteration
        df_search = df[df[column_name].astype(str).str.contains(search1)]
        # this merges/joins/contatenates/combines
        #  the new search results into the cumulative
        df_search = pd.concat([stored_df_search, df_search])
        # this stores the cumulative date for the next loop iteration
        stored_df_search = df_search

    #this is how many total search returns there were
    search_length1 = df_search.shape[0]

    #this puts the total search returns into a json object/dictionary
    #search_lenth_dict = {"total_search_result_number":search_length1}

    # this applies the offset(where to start)
    # and range (how many rows to display)
    df_search = df_search.iloc[offset1:offset1 + range1]

    # this turns output into a json object
    json_output = df_search.to_dict(orient='index')

    #this creates a new json file with both jsons combined
    output_with_total_search_result_number = {"total_number_of_possible_rows_returned":search_length1,"search results": json_output}

    # returns the search results per offset and range
    return output_with_total_search_result_number


# for specifying one column
# form of input: {"search":['SOGEDECOSA', 'THEARD, Jean-Luc'], "offset":2, "range": 3}
@app.route('/multiple_search_terms__any_terms_cumulative1', methods=['POST'])
def multiple_search_terms__any_terms_cumulative_1():
    # This is the route the Frontend makes requests to

    # this gets the json object
    json_obj = request.get_json(force=True)

    # these three lines brake up the json object into
    # variables us-able by python
    #feature_column1 = json_obj["feature_column"]
    search1 = json_obj["search"]
    offset1 = json_obj["offset"]
    range1 = json_obj["range"]


    # This establishes a storage df outside of the loop
    stored_df_search = pd.DataFrame()
    # this for loop loops through a list of search terms
    for this_search_term in search1:

        # a for loop for doing a literal search of all colums for all data types
        for column_name in df.columns:
            # this searches each row, one row at a time for each
            # for loop iteration

            df_search = df[df[column_name].astype(str).str.contains(this_search_term)]

            # this merges/joins/contatenates/combines
            #  the new search results into the cumulative
            df_search = pd.concat([stored_df_search, df_search])
            # this stores the cumulative date for the next loop iteration
            stored_df_search = df_search

    #this is how many total search returns there were
    search_length1 = df_search.shape[0]

    #this puts the total search returns into a json object/dictionary
    #search_lenth_dict = {"total_search_result_number":search_length1}

    # this applies the offset(where to start)
    # and range (how many rows to display)
    df_search = df_search.iloc[offset1:offset1 + range1]

    # this turns output into a json object
    json_output = df_search.to_dict(orient='index')

    #this creates a new json file with both jsons combined
    output_with_total_search_result_number = {"total_number_of_possible_rows_returned":search_length1,"search results": json_output}

    # returns the search results per offset and range
    return output_with_total_search_result_number


#if __name__ == '__main__':
#    app.run(host="0.0.0.0", port=80)

if __name__ == '__main__':
   app.run()


 "object spread operator" or "splatting" in python

In [ ]:
    # this uses an "object spread operator" or "splatting" in python
    # trying to pre-set form and default empty values for summary_dictionary
    # summary_dictionary['entity_type'] = {"entity":0, "vessel":0, "eggs":0}
    # remake summary_dictionary['entity_type'], so all options are represented, with zero if empty
    summary_dictionary['entity_type'] = df2_formatted[(df2_formatted['year'] == year1) & (df2_formatted['month'] == month1) ]['entity_type'].value_counts().to_dict()
    remade_dictionary = {}
    #remade_dictionary = {"entity": 0, "individual": 0, "vessel": 0, "aircraft": 0}
    remade_dictionary = {"entity": 0, "individual": 0, "vessel": 0, "aircraft": 0, **summary_dictionary['entity_type']}
    print(remade_dictionary)
    summary_dictionary['entity_type'] = remade_dictionary

In [ ]:
# dynamically set variable name

# mask: getting x vector for name
x_part_of_room_name = new_room_location[0]
# mask: getting y vector for name
y_part_of_room_name = new_room_location[1]
new_room_description = vars()[f"room{x_part_of_room_name}_{y_part_of_room_name}"]
print(f"This room looks like {new_room_description}")

## making a variably sized array

In [ ]:
    elements = len( arrA ) + len( arrB )
    merged_arr = [0] * elements

## permutations and enumerations

In [ ]:
# built in functions...not for assignment
#https://www.codeproject.com/Tips/1275693/Recursive-Permutations-in-Python
def permute(s):
  out = []
  if len(s) == 1:
    return s
  else:
    for i,let in enumerate(s):
      for perm in permute(s[:i] + s[i+1:]):
        out += [let + perm]
  return out
  
l = permute(['1','2','3'])
l

# Basic Sorting Functions

https://colab.research.google.com/drive/1ao7W6_zJm1a9rcceeGi1X3kEj9SShBBX

timing functions

In [ ]:
import time

start_time = time.time()

f = open("names_1.txt", "r")
names_1 = f.read().split("\n")  # List containing 10000 names
f.close()

f = open("names_2.txt", "r")
names_2 = f.read().split("\n")  # List containing 10000 names
f.close()

duplicates = []  # Return the list of duplicates in this data structure

# # Replace the nested for loops below with your improvements
# for name_1 in names_1:
#     for name_2 in names_2:
#         if name_1 == name_2:
#             duplicates.append(name_1)

# get in list form the common elements between two sets
duplicates = list(set(names_1) & set(names_2))


end_time = time.time()
print(f"{len(duplicates)} duplicates:\n\n{', '.join(duplicates)}\n\n")
print(f"runtime: {end_time - start_time} seconds")

# lists section

In [ ]:
list_from_string = '''1
2
'etc'
3'''.split('\n')

print(list_from_string)

['1', '2', "'etc'", '3']